<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f0f4f8" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
  <title>{{ title }} | rannday.com</title>
  <link rel="icon" href="/favicon.ico">
  {% include "css.html" %}
{% if highlightjs %}
  <link rel="stylesheet" href="/css/highlight.css">
  <link rel="stylesheet" href="/css/highlight-light.css" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="/css/highlight-dark.css" media="(prefers-color-scheme: dark)">
{% endif %}
</head>
<body>
{% include "icons.svg" %}
<div id="grid">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/networking/">Networking</a></li>
      <li><a href="/juniper/">Juniper</a></li>
      <li><a href="/paloalto/">Palo Alto</a></li>
      <li><a href="/projects/">Projects</a></li>
    </ul>
  </nav>
  <header>
    <h1>{{ title }}</h1>
    <hr>
  </header>
  <main>
    {{ content }}

  </main>
  <footer>
    <hr>
    <p>Public domain. No rights reserved.
      {% ext_link "https://unlicense.org" %}Unlicense{% endext_link %}
      &nbsp;|
      <a href="/about.html">About</a>
    </p>
  </footer>
</div>
<script>
// Highlight active nav item on page load
window.addEventListener('DOMContentLoaded', () => {
  const links = document.querySelectorAll('nav a');
  const currentPath = window.location.pathname.replace(/\/+$/, '');
  for (const link of links) {
    const linkPath = link.pathname.replace(/\/+$/, '');
    if (linkPath === currentPath) {
      link.closest('li').classList.add('is-active');
      break;
    }
  }
});
</script>
{% if highlightjs %}<script type="module" src="/js/highlight.js"></script>{% endif %}
</body>
</html>
